.Dashboard {
  text-align: center;
  color: #333;
}

.Menubar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: white;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #222;
}

.Menubar h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2.5em;
  margin: 0;
}

.Menubar .info>div {
  display: inline-block;
  margin: 0.2em .3em;
}

.Menubar .username {
  color: #E73C7E;
  font-weight: bold;
}

.Menubar .interpunct {
  font-weight: bold;
}

.Menubar .logout {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.Menubar .logout:hover {
  color: #E73C7E;
}

.Viewer {
  margin-top: 120px;
  margin-bottom: 50px;
}

.Viewer button {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin: 5px;
}

.Viewer button:hover {
  color: white;
}

.MainButtons button {
  font-size: 1.2em;
}

.Images {
  display: block;
  box-sizing: border-box;
  padding: 10px;
}

.Images img {
  margin: 5px;
  max-height: 300px;
  max-width: 400px;
}

.Download {
  margin: 10px auto;
  color: white;
}

.Download button {
  font-size: 1em;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 2px;
}

@media (max-width: 450px) {
  .Images {
    display: block;
    padding: 10px 0;
  }
  .Images img {
    width: 100%;
    margin: 0;
  }
}